* {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
*,
*:before,
*:after {
  box-sizing: border-box;
}
input:focus{
    outline: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
a {
    text-decoration: none !important;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #app {
    height: 100%;
  }

.light{
  background-color: #eeeded !important;
  color: black !important;
}
.light1{
  background-color: #eeeded !important;
  color: black !important;
}
.black-color{
  color: black !important;
}
.light-btn{
  background-color: #000 !important;
  color: #fff !important;
}
.stroke{
  stroke: #000 !important;
}
.stroke1{
  border: 1px solid #000 !important;
}
.input-light{
  background-color: #bbbbbb !important;
  color: black !important;
}