*,
*:before,
*:after {
  box-sizing: border-box;
}
input:focus{
    outline: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
a {
    text-decoration: none !important;
}
body{
    margin: 0;
}